
@media screen and (min-width: 600px){
    .box-container{
        flex-direction: row;
    }
    .text-container{
        width:70vw;
    }
    .img-container{
        width: 30vw;
    }
    .homeImg{
        height: 180px;
        padding-right: 10px;
    }
    
        
    }
    .pColor{
        color:#ffffff;
        font-size:20px;}

    
@media screen and (max-width: 600px){
    .box-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .homeImg{
        padding-top: 10px;
        height: 150px;
    }
    .text{
        font-size: 30px;
        color:#F0F0F0;
    }
        
    }
    .pColor{
        color:#ffffff;
        font-size: 25px;
        width:100%;
        text-align: center;}

@media screen and (min-width:768px){
    .pColor{
        font-size: 30px;
    }
    .homeImg{
        height: 250px;
    }
}
@media screen and (min-width: 992px){
    .homeImg{
    height: 350px; 
   } 
}
.semicircle {
    position: relative;
    background: #2c3e50;
    height: 50vh;
  }
  
  .semicircle::before {
    position: absolute;
    content: '';
    left: 78%;
    z-index: 10;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }